BasedOnStyle: Mozilla
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
ColumnLimit: 200
BreakBeforeBraces: Linux
BraceWrapping:
  AfterEnum: true
  AfterStruct: false
  AfterClass: true
  AfterNamespace: true

NamespaceIndentation: All
SpaceAfterTemplateKeyword: true
SortIncludes: false
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
